@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

*{
  background-color: black;
}

.containerHome {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  
}

.sectionHome { 
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  width: 50%;
}

/* HEADER*/
.header {
  width: 100%;
  height: 5rem;
  color: #00E5FF;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  margin-bottom: 6rem;
  box-shadow: 0px 2px 7px 0px #00E5FF;
}

.nameHeader:hover{
  animation: puff-in-center 0.5s;
}

/*DESCRIPTION*/
.desc {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.descTit {
 color: #a364ff;
 animation: puff-in-center 1.5s ease;
}

.textDesc {
  background-image: url("../img/fondo_intro.gif");
  background-repeat: no-repeat;
  background-position: center center;
  animation: slide-in-blurred-right  0.7s;
}

/*HAB*/
.habilidades {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  margin-top: 2rem;
}

.titleHab {
  align-items: center;
}

.habCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  padding: 1rem;
  border-radius: 0.70rem;
  color: #e0e0e0;
  transition: color 0.5s, box-shadow 0.5s;
}

.habCard:hover {
  color: #cb80ff;
  box-shadow: 4px 4px 8px rgba(255, 199, 255, 0.7);
}

.sectionHab {
  display: flex;
  flex-direction: column;
  width: 20rem;
  gap: 2.5rem;
}

.imgHab {
  width: 5rem;
}

.imgHab:hover{
  animation: jello-diagonal-1 1s ease;
}

.cssImg {
  background-color: #4d425f;
  border-radius: 0.11rem;
}

.reactImg {
  border-radius: 50%;
}

.habLogo {
  width: 20rem;
}

/* PORTAFOLIO */

.proyectos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.containerProj {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.tittleProj{
  margin-bottom: 4rem;
}

.projImg {
  width: 11rem;
  border-radius: 0.4rem;
}

.projUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  width: 13.5rem;
  height: 22rem;
  border-radius: 0.70rem;
  transition: box-shadow 0.7s;
}

.projUser:hover {
  box-shadow: 4px 4px 4px rgba(108, 53, 222, 0.7);
}

.btnProj {
  text-decoration: none;
  padding: 0.50rem;
  color: #6c35de;
  border: 1.5px solid #FF4081;
  border-radius: 0.50rem;
  transition: color 1s, background-color 1s;
}

.btnProj:hover {
  color: #00E5FF;
  background-color: #FF4081;
  animation: wobble-hor-top 1s ease;
}

/* COntacto  */

.contacto {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  padding-bottom: 2rem;
}

.titleCont {
  list-style: none;
  display: flex;
  font-size: 0.7rem;
  gap: 1rem;
}

.liCont {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.linkCont {
  text-decoration: none;
  color: #00E5FF;
}

.linkCont:hover {
  animation: jello-diagonal-1 0.5s ease;
}

/* KEyfRAMEs */

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes jello-diagonal-1 {
  0% {
    -webkit-transform: skew(0deg 0deg);
            transform: skew(0deg 0deg);
  }
  30% {
    -webkit-transform: skew(25deg 25deg);
            transform: skew(25deg 25deg);
  }
  40% {
    -webkit-transform: skew(-15deg, -15deg);
            transform: skew(-15deg, -15deg);
  }
  50% {
    -webkit-transform: skew(15deg, 15deg);
            transform: skew(15deg, 15deg);
  }
  65% {
    -webkit-transform: skew(-5deg, -5deg);
            transform: skew(-5deg, -5deg);
  }
  75% {
    -webkit-transform: skew(5deg, 5deg);
            transform: skew(5deg, 5deg);
  }
  100% {
    -webkit-transform: skew(0deg 0deg);
            transform: skew(0deg 0deg);
  }
}
@keyframes wobble-hor-top {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(6deg);
            transform: translateX(-30px) rotate(6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(-6deg);
            transform: translateX(15px) rotate(-6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(3.6deg);
            transform: translateX(-15px) rotate(3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(-2.4deg);
            transform: translateX(9px) rotate(-2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(1.2deg);
            transform: translateX(-6px) rotate(1.2deg);
  }
}

img {
  view-timeline-name: --image;
  view-timeline-axis: block;

  animation-timeline: --image;
  animation-name: show;

  animation-range: entry 35% cover 30%;
  animation-fill-mode: both;
}

/* MEDI QUERy*/